
img{
   width: 200px;
   height: 200px;
}

body {
   background-color: #9E0000;
   border: 10px solid #000;
}

th {
    font-family:'Rajdhani', sans-serif;
    color: #FFFF00;
    text-decoration: underline;
    text-decoration-color: 	#008000;
    font-size: 17px;
}

h1, h2 {
    font-family: 'Dancing Script', cursive;
    color: #00BFFF;
    border: 10px double white;  
    width: 200px;  
}

#Sobre{
    font-family: 'Rajdhani', sans-serif;
    color: #FFFF00;
    text-decoration: underline;
    text-decoration-color: 	#008000;
    font-size: 17px;
}

p {
    font-family: 'Rajdhani', sans-serif;
    color: #000;
}

li {
    font-family: 'Rajdhani', sans-serif;
    color: #FFFF00;
    text-decoration: underline;
    text-decoration-color: 	#008000;
    font-size: 17px;
}
