.mode-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.icon {
  width: 30px;
  height: 30px;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #800080;
}

body.dark-mode th,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode #Sobre,
body.dark-mode p,
body.dark-mode li {
  color: #000;
}

body.dark-mode h1,
body.dark-mode h2 {
  color: #00bfff;
}

@keyframes scaleAnimation {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9e0000;
  border: 10px solid #000;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: scaleAnimation 2s infinite;
}

img {
  width: 200px;
  height: 200px;
  margin: 20px;
}

#Sobre, p, li {
  font-family: "Rajdhani", sans-serif;
  color: #FFFF00;
  text-decoration: underline;
  text-decoration-color: #0000FF;
  font-size: 37px;
}

h1, h2 {
  font-family: "Dancing Script", cursive;
  color: #00bfff;
  border: 10px double #fff;
  padding: 10px;
}

#descricao, #escolaridade, #cursos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button[type="submit"] {
  width: 100px;
  height: 40px;
  background-color: #00bfff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hidden {
  display: none;
}